<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Вход за Админ</title>
    <link rel="stylesheet" href="/Views/Admin/1-Admin-Login.css">
</head>
<body>
    <div class="admin-login-bar"></div>
    <div class="admin-login-container">
        <form method="POST" action="/admin/login">
            <h2>Вписване в админ панела</h2>
            <% if (error) { %>
                <div class="error"><%= error %></div>
            <% } %>
            <label for="name">Име</label>
            <input type="text" id="name" name="name" placeholder="Дамян Енчев" required>
            <label for="password">Парола</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Вписване</button>
        </form>
    </div>
</body>
</html>
